
<div class="container">
	<div class="main-visual-box">
	</div>
</div>
<div class="box">
	<h1>Thanks for coming!</h1>
</div>

<div class="container2">
	<% @blogs.each do |blog| %>
	<div class="note">
		<p>Time : <%= blog.created_at%></p>
		<p>Title : <%= blog.title %></p>
		<p>Body : <%= blog.body %></p>
		<p class="tip"><%= link_to 'destroy',blog_path(blog),method: :delete ,class: "btn-sticky"%></p>
	</div>
	<br>
	<% end %>
</div>
