/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Sacramento');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix{
	content: "";
	display: block;
	clear: both;
}

header{
  background-color: #FFFEF7;
}

header i{
	color: white;
	font-size: 40px;
	padding: 10px;
	float: left;
}

.main-container{
  background-color: #FFFEF7;
  width: 100%
}

.top-container
{
  width: 100%;
  height: 400px;
}

.header-photo{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.line{
  background-image: url('line.png');
  height: 15px;
  width: 100%;
}

.menu{
  background-color: #5C87C6;
  height: 70px;
}

.nav-list{
	float: center;
}

.nav-list-item {
  list-style: none;
  text-decoration: none;
  line-height: 60px;
  display: inline-block;
  color :white;
  margin: 0 20px;
  font-family: 'Sacramento', cursive;
}

header a{
	text-decoration: none;
	color: white;
}

header a:hover{
  text-decoration: none;
  color: white;
}

